RewriteEngine On
RewriteRule ^profile/([A-Za-z0-9-\s]+) profile.php?u=$1
RewriteRule ^profile/friends/([A-Za-z0-9-\s]+) friends.php?u=$1
RewriteRule ^profile/albums/([A-Za-z0-9-\s]+) albums.php?u=$1
RewriteRule ^posts/([A-Za-z0-9-\s]+) single-post.php?p=$1
