@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext";
@import "https://use.fontawesome.com/releases/v5.0.1/css/all.css";
@import "https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,500,700&subset=latin-ext";
body {
  margin: 0;
  background: #efefef;
  font-family: "Roboto", "Open Sans", sans-serif; }

nav.site_nav-not {
  height: 85px;
  background: #00bf8f;
  box-shadow: 0px 4px 5px #e0e0e0; }
  @media screen and (max-width: 370px) {
    nav.site_nav-not {
      height: 70px; } }
  nav.site_nav-not .site_nav__container-not {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1000px) {
      nav.site_nav-not .site_nav__container-not {
        padding: 0 20px;
        box-sizing: border-box; } }
    @media screen and (max-width: 690px) {
      nav.site_nav-not .site_nav__container-not {
        justify-content: center; } }
    @media screen and (max-width: 400px) {
      nav.site_nav-not .site_nav__container-not {
        padding: 0 15px; } }
    nav.site_nav-not .site_nav__container-not .site_nav__logo-not {
      text-decoration: none;
      color: #fff;
      font-size: 29.5px;
      margin: 0;
      padding: 0;
      line-height: 85px;
      font-family: "Barlow Semi Condensed", "Roboto", "Open Sans", sans-serif; }
      @media screen and (max-width: 500px) {
        nav.site_nav-not .site_nav__container-not .site_nav__logo-not {
          font-size: 26px; } }
      @media screen and (max-width: 370px) {
        nav.site_nav-not .site_nav__container-not .site_nav__logo-not {
          line-height: 70px; } }
    nav.site_nav-not .site_nav__container-not .site_nav__form-not {
      height: 85px;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 690px) {
        nav.site_nav-not .site_nav__container-not .site_nav__form-not {
          display: none; } }
      @media screen and (max-width: 370px) {
        nav.site_nav-not .site_nav__container-not .site_nav__form-not {
          height: 70px; } }
      nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__input-not {
        outline: none;
        box-sizing: border-box;
        padding: 0 5px;
        margin: 0 15px 0 0;
        border: 1px solid #007d5d;
        box-shadow: 0px 0px 5px #007d5d;
        height: 28px;
        width: 160px;
        transition: 90ms all ease-in-out; }
        @media screen and (max-width: 1000px) {
          nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__input-not {
            width: 140px;
            height: 24px; } }
        nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__input-not:focus {
          border-color: #004030; }
        nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__input-not::placeholder {
          color: #4e4e4e; }
      nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__button-not {
        outline: none;
        box-sizing: border-box;
        padding: 0 5px;
        border-radius: 0px;
        color: #efefef;
        background: #00ce9a;
        border: 2px solid #007d5d;
        box-shadow: 0px 0px 5px #007d5d;
        height: 28px;
        width: 105px;
        text-align: center;
        transition: 90ms all ease-in-out; }
        @media screen and (max-width: 1000px) {
          nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__button-not {
            width: 95px;
            font-size: 11.5px;
            height: 24px; } }
        nav.site_nav-not .site_nav__container-not .site_nav__form-not .site_nav_form__button-not:hover {
          cursor: pointer;
          border-color: #007356;
          box-shadow: 0px 0px 8px #007d5d; }

nav.site_nav {
  height: 45px;
  background: #00bf8f;
  box-shadow: 0px 4px 5px #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  nav.site_nav .site_nav__container {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1000px) {
      nav.site_nav .site_nav__container {
        padding: 0 20px;
        box-sizing: border-box; } }
    nav.site_nav .site_nav__container .site_nav__left {
      display: flex;
      width: 100%; }
      nav.site_nav .site_nav__container .site_nav__left .site_nav__logo {
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        margin: 0;
        padding: 0;
        font-family: "Barlow Semi Condensed", "Roboto", "Open Sans", sans-serif;
        margin-right: 35px; }
      nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form {
        display: flex;
        flex-direction: column; }
        nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form {
          display: flex;
          width: 440px; }
          nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form .site_nav_form__input, nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form input {
            width: 100%;
            height: 28px;
            outline: none;
            border: 1px solid #007d5d;
            box-shadow: 0px 0px 5px #007d5d;
            box-sizing: border-box;
            padding: 0 5px 0 24px;
            margin: 0 0 0 -5px;
            transition: 90ms all ease-in-out; }
            nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form .site_nav_form__input:focus, nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form input:focus {
              border-color: #007d5d;
              box-shadow: 0px 0px 8px #005943; }
              nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form .site_nav_form__input:focus + .site_nav_form__btn, nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form input:focus + .site_nav_form__btn {
                color: #00bf8f !important; }
          nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__form .site_nav_form__btn {
            outline: none;
            position: relative;
            width: 0px;
            padding: 0;
            margin: 0;
            border: 0px;
            background: #fff;
            color: #000;
            font-size: 14px;
            transition: 90ms all ease-in-out; }
        nav.site_nav .site_nav__container .site_nav__left .site_nav__search_form .site_nav_search_form__results {
          max-height: 220px;
          height: 220px;
          width: 437px;
          position: absolute;
          top: 43px;
          background: #fff;
          border: 2px solid #00bf8f;
          margin-left: -5px; }
    nav.site_nav .site_nav__container .site_nav__links {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px; }
      nav.site_nav .site_nav__container .site_nav__links li a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        font-size: 17px; }
        nav.site_nav .site_nav__container .site_nav__links li a:hover {
          color: #ebebeb; }

/*# sourceMappingURL=styles.css.map */
